# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\baiyun\biyeshiji\springboot024基于SpringBoot的企业客户管理系统的设计与实现\springboot03445\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
